*{
  border: none;
  box-sizing: border-box;
  font-family: 'Righteous', 'Microsoft Jhenghei';
  margin: 0;
  padding: 0;
}
h1{
  color: $light;
  line-height: 32px;
}
#guides{
  background-image: url(./pattern.svg);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
}
#logo{
  background-color: $primary;
  border-top: 16px solid $light;
  justify-content: center;
  padding: 48px 0 16px 0;
  .col-4{
    text-align: center;
  }
}