*{
  border: none;
  box-sizing: border-box;
  font-family: 'Cherry Cream Soda', 'Microsoft Jhenghei';
  margin: 0;
  padding: 0;  
}
#logo{
  background-color: $blue;
  border-top: 4px solid $orange;
  color: $white;
  height: 128px;
  justify-content: center;
  text-align: center;
  h1{
    padding-top: 76px;
    line-height: 32px;
  }
}
nav{
  background-color: $lime;
  a{
    color: $white;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  ul.row{
    justify-content: center;
    width: 100%;
  }
}