*{
  border: none;
  box-sizing: border-box;
  font-family: 'Righteous', 'Microsoft Jhenghei';
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
h1{
  color: $light;
  letter-spacing: 4px;
  line-height: 32px;
  text-shadow: 2px 4px 8px $dark;
}
header{
  height: 400px;
  img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
li{
  line-height: 16px;
  list-style: none;
}
nav{
  background-color: $secondary;
  padding: 16px 0;
  a{
    display: inline-block;
    color: $light;
    padding: 0 16px;
  }
  ul.row{
    justify-content: center;
    width: 100%;
  }
}
#guides{
  background-image: url(./pattern.svg);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
}
#logo{
  background-image: linear-gradient(-45deg, $primary, $secondary);
  border-top: 16px solid $light;
  justify-content: center;
  padding: 64px 0;
  .col-4{
    text-align: center;
  }
}